<% include ./partials/header %>
  <body>
    <h1>Albert Geek</h1>
    <a class='btn' href="/login">Guest Login</a>
    <a class='btn' href="/admin">Admin Login</a>

  </body>
</html>

<% include ./partials/footer %>
